modules = ["nodejs-20", "web", "bash"]
run = "yarn dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "public"
run = ["sh", "-c", "npx serve out"]
build = ["sh", "-c", "yarn build"]

[[ports]]
localPort = 3000
externalPort = 80
