run = "npm run dev"
entrypoint = "src/app/page.tsx"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build && cp -r public/* out/"]

[[ports]]
localPort = 3000
externalPort = 80

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"
