NEXT_PUBLIC_ZERODEV_RPC=https://rpc.zerodev.app/api/v3/ca6057ad-912b-4760-ac3d-1f3812d63b12/chain/11155111
NEXT_PUBLIC_CHAIN=sepolia
NEXT_PUBLIC_ZERODEV_PROJECT_ID=ca6057ad-912b-4760-ac3d-1f3812d63b12
NEXT_PUBLIC_PRIVY_APP_ID=cmaqqs10k00onl20md0g7c7bg